.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 30vmin;
  pointer-events: none;
}

.App-header {
  background-color: #87b6a7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #f7d08a;
}

.App-link {
  color: #f79f79;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-footer {
  background-color: #87b6a7;
  align-items: center;
  justify-content: center;
  font-size: calc(10px +2vmin);
  color: #f8c7cc;
}

.ButtonContainer {
  align-items: center;
}

.StorageBody {
  background-color: #87b6a7;
  color: #f7d08a;
}
